// ------------------------------------------------------------------
// Header
// ------------------------------------------------------------------
.header {text-align: center;}

.header-logo {background: $BRAND_LIGHT;}

.header-logo img {width: 240px;}

.header-hd {margin: 10px;}
