
		<style>
		    .sector {
		        padding-bottom: 20px;
		        margin-bottom: 10px;
		        border-top: 2px solid #6d8b91;
		    }
		    
		    .sector:last-child {
		        padding-bottom: 40px;
		    }

		    .sector-hd {
		        border-bottom: 1px solid #bfd9df;
		        margin-bottom: 20px;
		        padding-bottom: 5px;
		    }

		    .grid-col {
		        padding: 5px 10px;
		        margin-bottom: 20px;
		        color: #ffffff;
		        background: #313130;
		    }

		    .color {padding: 5px 10px;}
		    .color_1 {color: #ffffff;background: #00afb2;}
		    .color_2 {color: #ffffff;background: #196c7d;}
		    .color_3 {background: #70c4c2;}
		    .color_4 {color:#ffffff;background: #60b989;}
		    .color_5 {background: #96d2a2;}
		    .color_6 {color: #ffffff; background: #313130;}
		    .color_7 {background: #999a9b;}
		    .color_8 {background: #e0e0e0;}
		    .color_9 {color: #ffffff; background: #4d4f4f;}

		    .bg {
		        width: 100%;
		        padding: 20px 20px 10px;
		    }

		    .bg_tetra {background: url(media/images/bg-tetra-40.png) repeat top center;}

		    .iconList i {font-size: 40px;}

		    .blocks {display: none;}
		    .blocks:first-child {display: block;}

		    @media screen and (min-width: 768px) {
		        .blocks {display: block;}
		    }
		</style>
