        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>GULP TEST Front End Web Standards - Index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- STYLESHEETS -->
        <!--build:css css/css/modern.min.css-->
        <link rel="stylesheet" href="./css/css/modern.css">
        
        <!-- endbuild -->
        <!-- build:css css/css/legacy.min.css-->
        <!--[if lt IE 9]> 
            <link rel="stylesheet" href="css/css/legacy.css">
        <![endif]-->
        <!-- endbuild -->

        <link rel="stylesheet" href="./plugins/slider/flexslider.css" type="text/css">

        <!-- FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">