//----------------------------------------------------------------------
// Base Font Styles
//----------------------------------------------------------------------
$FONT_PRIMARY: 'Lato', Arial, sans-serif;
$FONT_SECONDARY: 'Montserrat', Arial, sans-serif;
$FONT_HEADING: 'Montserrat', Arial, sans-serif;

//----------------------------------------------------------------------
// Common Colors
//----------------------------------------------------------------------
$BRAND: #00afb2;
$BRAND_LIGHT: #70c4c2;
$BRAND_DARK: #196c7d;

$BRAND_SECONDARY: #60b989;
$BRAND_SECONDARY_LIGHT: #96d2a2;

$GRAY: #999a9b;
$GRAY_LIGHT: #e0e0e0;
$GRAY_SEMI_DARK: #4d4f4f;
$GRAY_DARK: #313130;

$WHITE: #FFFFFF;
$BLACK: #000000;

$COLOR_BG: #ffffff;

$COLOR_LINKEDIN: #007bb6;
$COLOR_TWITTER: #76aaeb;
$COLOR_YOUTUBE: #cd201f;

//----------------------------------------------------------------------
// Widths
//----------------------------------------------------------------------
$SITE_MAX_WIDTH: 1024px;
$WIDTH_SM: 768px;

$BOX-SHADOW: 3px 5px 0 rgba(1, 1, 1, 0.11);
