//----------------------------------------------------------------------
// Media Box Object
//----------------------------------------------------------------------
.mediaBox {
	@include clearfix();
	margin-bottom: 20px;
	border-bottom: 1px solid $GRAY;
}

.mediaBox-media {
	max-width: 420px;
	margin: 0 20px 10px 0;
	float: left;
}

.mediaBox-media > * {width: 100%;}

.mediaBox_right .mediaBox-media {
	margin: 0 0 10px 20px;
	float: right;
}