<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
        {{nav.active('home')}}
        <div class="wrap wrap_content" id="top">

			<p class="txt txt_lg">Welcome to the front end web development standards for Wiley websites and applications &mdash; a collection of best practices, common object/module examples, tutorials and resources.</p>

			<p class="txt">FE web development is in a constant state of flux, with an accelerating pace of change due to technological advancements, improved focus on UX, and relentless developer ingenuity. Additionally, new devices continue to flood the market, introducing new screen sizes/dimensions and operating systems that impact the compatibility and standardization of browser support.</p>

			<p class="txt">Website design and interaction have become a tour de force, creating the need to break burgeoning html, css and javascript files into manageable, modular pieces. File sizes have also become cumbersome, and the need to optimize them for better page loading is now a necessity.</p>

			<p class="txt">Use the following assets, guidelines and resources to optimize the front end experience by means of:</p>

			<ul class="list list_bullet">
				<li>Maintainablity</li>
				<li>Integration</li>
				<li>DRY (don't repeat yourself) coding</li>
				<li>Validated and properly structured HTML</li>
				<li>Modular CSS and JS</li>
				<li>Responsive layouts</li>
				<li>Accessibility</li>
				<li>Browser targets and compatibility</li>
				<li>Media content</li>
				<li>Object/module building</li>
				<li>Task management</li>
				<li>…and whatever else the future of front end may bring.</li>
			</ul>

			<p class="txt">The FE Web Standards is a living resource and will be updated on a regular basis. If you have any questions, please contact me, and I will be glad to help.</p>
			
			<ul class="list">
				<li>Nate Levine</li>
				<li>Front End Developer</li>
				<li>nlevin@wiley.com</li>
			</ul>

        </div>
{% endblock %}