//----------------------------------------------------------------------
// ADDRESS
//----------------------------------------------------------------------
.address > * {
	display: block;
	font-size: 18px;
	text-align: center;
}

.address > *:first-child {font-weight: bold;}