/*----------------------------------------------------------------------
 Main Navigation Med
----------------------------------------------------------------------*/
.mainNav-trigger {display: none;}
.mainNav-content {display: block !important;}

.mainNav a {
	display: block;
	padding: 10px 10px 5px;
}