// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------
.footer {
	padding: 20px 20px 60px;
	background: $GRAY_LIGHT;
	text-align: center;
}

.footer-logo {
	width: 180px;
	margin: 0 auto;
}

.footer-logo img {width: 100%;}

.footer-copy {font-size: 12px;}
